@page "/"
@inject HttpClient Http

<PageTitle>All Fishes</PageTitle>

@if (fishes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <FishRow></FishRow>
        </thead>
        <tbody>
            @foreach (var fish in fishes)
            {
                <FishRow model=@fish></FishRow>
            }
        </tbody>
    </table>
}


@code {

    private List<Models.Fish>? fishes;

    protected override async Task OnInitializedAsync()
    {
        fishes = await Http.GetFromJsonAsync<List<Models.Fish>>("fish-data/merged_fish.json");
    }


}
