@inject IDialogService DialogService
@inject HttpClient Http

<MudNavMenu>
    <div class="d-flex">
    <MudImage Src="images/gw2fishexclaim.png" Alt="logo" Width="50" Fluid="true" ObjectFit="ObjectFit.Contain"></MudImage>
    <div class="d-flex-column">
    <MudText Typo="Typo.h6" Class="px-4 pt-4">GW2 Fish!</MudText>
    <MudText Typo="Typo.body2" Class="px-4 pb-4 mud-text-secondary">For your fishing needs</MudText>
    </div>
    </div>
    <MudDivider></MudDivider>
    <MudNavLink Href="/" Match="NavLinkMatch.All">All Fish</MudNavLink>
    <MudNavGroup Title="Achievements" Expanded="false">
        <MudNavLink Href="/achievements" Match="NavLinkMatch.All">All</MudNavLink>
        @if(achievements != null)
        {
            @foreach(var achievement in achievements)
            {
                <MudNavLink Href="@("/achievements/" + achievement.Name)">@achievement.Name</MudNavLink>
            }
        }
    </MudNavGroup>
    <MudNavLink Href="/settings" Match="NavLinkMatch.Prefix">Settings</MudNavLink>
    <MudNavLink Href="/about"  Match="NavLinkMatch.Prefix">About</MudNavLink>
</MudNavMenu>

@code {
    private bool collapseNavMenu = true;
    private bool showSettingsMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;
    private string? NavSettingsMenuCssClass => showSettingsMenu ? "show" : null;

    private IEnumerable<Models.Achievement>? achievements;

    protected override async Task OnInitializedAsync()
    {
        achievements = await Http.GetFromJsonAsync<List<Models.Achievement>>("fish-data/merged_achievement.json");
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleSettingsMenu()
    {
        showSettingsMenu = !showSettingsMenu;
    }

    private void OpenSetAPIKeyDialog()
    {
		var options = new DialogOptions { MaxWidth = MaxWidth.Medium, FullWidth = true, CloseOnEscapeKey = true };
        DialogService.Show<SetApiKey>("Set API Key", options);
    }
}
